backports.functools-lru-cache==1.5
beautifulsoup4==4.7.1
certifi==2018.11.29
chardet==3.0.4
Click==7.0
fake-useragent==0.1.11
Flask==1.0.2
Flask-Redis==0.3.0
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10
logging==0.4.9.6
MarkupSafe==1.1.0
pkg-resources==0.0.0
redis==3.0.1
requests==2.18.4
soupsieve==1.7.1
urllib3==1.24.1
Werkzeug==0.14.1
